body{
    background-image: radial-gradient(black,darkblue);
}
body::-webkit-scrollbar {
    display: none;
}


*{
    box-sizing: border-box;
}
.main{
    border:2px solid black;
    display:flex;
    flex-wrap: wrap;
    position: relative;
    padding-top:20px ;
    top:110px;
    height:50%;
    width:68%;
}
.img{
    margin-left: 10px;
    margin-right:10px;
    height:90%;
    width:30.33%;
}
.img img{
    height: 100%;
    width:100%;
}
.img img:hover{
    transform: scale(1.4);
    transition: 0.5s;
}
.img img{
    transition: 0.5s; 
    }


    