*{
	margin: 0;
}

i{
	color: #fff;
}
header{
    overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	background-color: black;
}
 #ninjas-icon{
    color: #fff;
    position: relative;
    height:auto;
    width:32%;
	font-size: 24px;
	float: left;
	font-weight: bold;
}
header{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
}
#ninjas-icon img{
    height:100px;
    width:35%;
    float:left;
}
#ninjas-icon h5{
    width:40%;
    position:absolute;
    left:40%;
    top:5%;
}
.bell-icon li span:{
    margin: 5px;
    width:5%;
	height: 0.8rem;
}
.display{
    float: right;
    line-height: 5;
    right:0%;
    width:50%;
    position:absolute;
    left:55%;
}
header nav ul{
	margin: 0 10px;
	padding: 0;

}
header nav ul li{
	list-style: none;
    font-size: large;
}

header nav ul li a{
	top:0;
	font-size: 1.5rem;
	text-decoration: none;
	color: white;
    font-family: monospace;
}
#fav
{
    width:10%;
    position: absolute;
    margin-left:5%;
    margin-right:5%;
    left:37%;

}
#ninjas,#fav{
    font-family: sans-serif;
}
#style{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic ;
    font-size: xx-large;
}
#fav a {
    color:white;
    line-height: 6;
    font-size:1rem;
    text-decoration: none;

    padding: 0 30px;
}

header nav li search{
	margin: 5px;
    width:5%;
	height: 0.8rem;
	border:0;
    background-color: lavender;
    color:white;
    font-size:1rem;
    left:30%;
}
header nav li span{
    width:5%;


}

header nav ul li img{
    width:10%;
    height:55px;
    left:45%;
    top:20%;
    line-height: 4;
    margin-left:10%;
    margin-right:10%;
    position:absolute;
    border-radius: 50%;
    
}
@media only screen and (max-width:550px){
    #display {
        width:70%;
    }
    #ninjas-icon
    {
        width:20%;
    }
    #fav
    {
        width:5%;
        position:absolute;
        left:25%;
        margin:2%;
    }
    #fav a {
        font-size:0.9rem;
    }
    header nav ul li img
    {
        left:70%;
    }
    header nav li search
    {
      left:35%;
      width:60%;
    }

}


