.displays{
    height:40vh;
    width:650px;
    left:0;
    margin-top: 9%;
    border: 2px solid black;
    background-color: turquoise;
    position: relative;
}
body{
    background-image: radial-gradient(black,darkblue);
}
.singer{
    position: absolute;
    left:10px;
    top:5px;
    height:90%;
    width:100%;
    display: flex;
    flex-wrap:wrap;
    background-size: contain;
}
.heading-style{
    margin-top:40px;
    margin-left:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(104, 82, 82);
    opacity: 0.6;
    width:50%;
}
#similar-artists{
    width:20vw;
    height:40vh;
    background-color: violet;
    border: 2px white solid;
    
}