.displays{
    height:40vh;
    width:650px;
    left:0;
    margin-top: 20%;
    
    background-color: rgb(15,29, 54);
    position: relative;
}
body{
    background-image: radial-gradient(black,darkblue);
}
#other{
    display: flex;
}
#one{
    float:left;
}
.singer{
    position: absolute;
    left:10px;
    top:5px;
    height:90%;
    width:100%;
    display: flex;
    flex-wrap:wrap;
    background-size: contain;
}
.singer img{
    height:100%;
    width:100%;
}
.heading-style{
    margin-top:40px;
    margin-left:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:whitesmoke;
    opacity: 0.6;
    width:50%;
}
#similar-artists{
    width:20vw;
    float:right;
    height:40vh;
    background-color:rgb(15, 29 ,54);
    margin-top:150px;
    margin-left:520px;
}
.outer1{
    position: relative;
    top:10px;
    height: 100vh;
    width: 25%;
    margin-right: 20px;
    color:white;
    float:right;
    position:relative;
    overflow:scroll;
}
#similar-artists h2,.queue-song,.queue-text{
    color:white;
}
.outer2{
    position: relative;
    top:10px;
    height: 100vh;
    width: 65%;
    margin-left: 10px;
    color:white;
    float:left;
    position:relative;
    overflow:scroll;
}
#plus{
    float:right;
    left:25px;
    margin-top:15px;
    margin-left: 60%;
}
.border{
    border-bottom:2px solid white;
}